body{
    margin:0px;
  	padding:0px;
  	font-family: 'Arial',serif;
    color:black;
}

ul{
    background-color: red;
    color: #ffffff;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    
    
}
ul >li {
    float:left;
    width:150px;
    height:40px;
    background-color:gray;
    /* Do not Change Opacity */
    opacity:.8;
    line-height:40px;
    text-align: center;
    font-size:16px;
    display: inline-block;
    padding-right: 100px;
    
}
ul>li>a{
    text-decoration: none;
    color: #ffffff;
    display:block;   
}
ul>li a:hover:{
   color: #c1c1c1; 
}
/* Do not display dropdown if not hovering*/
ul>li>ul>li{
    display:none;
}
/* Display Dropdown on mouse-over */
ul>li:hover ul>li{
    display:block;
}

.body{
    position: relative;
		top: 0px;
		left: 0px;
}

.arms:hover{
        position:relative;
    }

    .arms:hover:after{
        content: url("https://i.imgur.com/RijcUR4.jpg");
        position: relative;
        left: 360px;
        top: -752px;
        pointer-events: none;
    }
img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.abs:hover{
    position: relative;
}
.abs:hover:after{
    content:url(https://i.imgur.com/RNYk2o7.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

.chest:hover{
    position: relative;
}
.chest:hover:after{
    content:url(https://i.imgur.com/kHUysx8.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

.legs:hover{
    position: relative;
}
.legs:hover:after{
    content:url(https://i.imgur.com/AcBcFMx.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

.back:hover{
    position: relative;
}
.back:hover:after{
    content:url(https://i.imgur.com/iRyjPza.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}



