body{
    margin:0px;
  	padding:0px;
  	font-family: 'Arial',serif;
    color:black;
   
}

.nav{
    //Make Nav Bar Top layer;
     position:relative;
    z-index: 999;
    background-color: gray;
    color: #ffffff;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px 0 40px 0;
    
    
}
.nav >li {
    float:left;
    width:130px;
    height:40px;
    background-color:gray;
    /* Do not Change Opacity */
    opacity:.8;
    line-height:40px;
    text-align: center;
    font-size:14px;
    display: inline-block;
    padding-right: 100px;
    
}
.nav>li>a{
    text-decoration: none;
    color: white;
    display:block; 
    
    
}
.nav>li a:hover:{
   color: greenyellow;
    
}
/* Do not display dropdown if not hovering*/
.nav>li>ul>li{
    display:none;
}
.nav>li>ul>li>a{
    text-decoration:none;
    color:white;
}
/* Display Dropdown on mouse-over */
.nav>li:hover ul>li{
    display:block;
    font-size: 12px;
    background-color:gray;

}

.body{
    position: relative;
		top: 0px;
		left: 0px;
}

.arms:hover{
        position:relative;
    }

    .arms:hover:after{
        content: url("https://i.imgur.com/RijcUR4.jpg");
        position: relative;
        left: 360px;
        top: -752px;
        pointer-events: none;
    }

.abs:hover{
    position: relative;
}
.abs:hover:after{
    content:url(https://i.imgur.com/RNYk2o7.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

.chest:hover{
    position: relative;
}
.chest:hover:after{
    content:url(https://i.imgur.com/kHUysx8.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

.legs:hover{
    position: relative;
}
.legs:hover:after{
    content:url(https://i.imgur.com/AcBcFMx.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

.back:hover{
    position: relative;
}
.back:hover:after{
    content:url(https://i.imgur.com/iRyjPza.jpg);
    position: absolute;
    left: 360px;
    top: -752px;
    pointer-events: none;
}

